In [1]:
import json
import csv
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from datetime import datetime

In [4]:
test = pd.read_csv('test.csv')

In [82]:
df = pd.read_json('train.json',typ = 'dataframe').to_frame('count')

In [7]:
df.head()

                                                     count
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal

In [8]:
df.tail()

                                                       count
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal
1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-...  abnormal

In [84]:
df.reset_index(inplace = True)
df.rename(columns = {'index':'log'}, inplace = True)

In [86]:
df

,log,count
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
4152654,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.386651 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152655,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.558220 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152656,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.675784 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152657,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.777307 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly
4152658,KERNDTLB 1118545530 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-20.05.30.937080 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt,anomaly

In [5]:
pd.options.display.max_colwidth =150

In [85]:
df['log'] = df['log'].map(lambda x: x.rstrip('\n'))

In [174]:
for i in range(10):
    print(df.log[i].split(' '))

['', '1117838570', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.50.363779', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838570', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.50.527847', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838570', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.50.675872', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838570', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.50.823719', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838570', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.50.982731', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838571', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.51.131467', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838571', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.51.293532', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838571', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.51.428563', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838571', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.51.601412', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']
['', '1117838571', '2005.06.03', 'R02-M1-N0-C:J12-U11', '2005-06-03-15.42.51.749199', 'R02-M1-N0-C:J12-U11', 'RAS', 'KERNEL', 'INFO', 'instruction', 'cache', 'parity', 'error', 'corrected']

In [175]:
' '.join(df.log[0].split(' ')[9:])

'instruction cache parity error corrected'

In [87]:
# keeping ras, kernel, info wala column separate newer code

l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
l6=[]
l7=[]
l8=[]
l9=[]
l10=[]
for i in range(4152659):
    l1.append(df.log[i].split(' ')[1])
    l2.append(df.log[i].split(' ')[2])
    l3.append(df.log[i].split(' ')[3])
    l4.append(df.log[i].split(' ')[4])
    l5.append(df.log[i].split(' ')[5])
    l6.append(df.log[i].split(' ')[6])
    l7.append(df.log[i].split(' ')[7])
    l8.append(df.log[i].split(' ')[8])
    l9.append(' '.join(df.log[i].split(' ')[9:]))
    l10.append(df['count'][i])

In [ ]:


l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
l6=[]
l7=[]
for i in range(4152659):
    l1.append(df.log[i].split(' ')[1])
    l2.append(df.log[i].split(' ')[2])
    l3.append(df.log[i].split(' ')[3])
    l4.append(df.log[i].split(' ')[4])
    l5.append(df.log[i].split(' ')[5])
    l6.append(' '.join(df.log[i].split(' ')[6:]))
    l7.append(df['count'][i])

In [13]:
l7[:5]

['KERNEL', 'KERNEL', 'KERNEL', 'KERNEL', 'KERNEL']

In [17]:
# data = pd.DataFrame(list(zip(l1,l2,l3,l4,l5,l6,l7)))

In [88]:
data = pd.DataFrame(list(zip(l1,l2,l3,l4,l5,l6,l7,l8,l9,l10)))

In [96]:
data

,0,1,2,3,4,5,6,7,8,9
0,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
1,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
2,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
3,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
4,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
...,...,...,...,...,...,...,...,...,...,...
4152654,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152655,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152656,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152657,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152658,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly

In [21]:
# data_1.to_csv('data_1.csv')

In [17]:
# data_1.value_counts()

In [97]:
data[7].value_counts()

INFO            3448646
FATAL            549247
ERROR            111876
WARNING           22211
SEVERE            18747
FAILURE            1652
Kill                276
single                2
microseconds          2
Name: 7, dtype: int64

In [103]:
data[(data[7] == 'FATAL') & (data[9] == 'anomaly')]

,0,1,2,3,4,5,6,7,8,9
4082967,1117869872,2005.06.04,R23-M1-N8-I:J18-U11,2005-06-04-00.24.32.398284,R23-M1-N8-I:J18-U11,RAS,APP,FATAL,ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33399,anomaly
4082968,1117869872,2005.06.04,R04-M1-N4-I:J18-U11,2005-06-04-00.24.32.432192,R04-M1-N4-I:J18-U11,RAS,APP,FATAL,ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33569,anomaly
4082969,1117869872,2005.06.04,R04-M1-N4-I:J18-U01,2005-06-04-00.24.32.481570,R04-M1-N4-I:J18-U01,RAS,APP,FATAL,ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33570,anomaly
4082970,1117869873,2005.06.04,R35-M1-N0-I:J18-U11,2005-06-04-00.24.33.168659,R35-M1-N0-I:J18-U11,RAS,APP,FATAL,ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33459,anomaly
4082971,1117869873,2005.06.04,R35-M1-N0-I:J18-U01,2005-06-04-00.24.33.203068,R35-M1-N0-I:J18-U01,RAS,APP,FATAL,ciod: failed to read message prefix on control stream (CioStream socket to 172.16.96.116:33460,anomaly
...,...,...,...,...,...,...,...,...,...,...
4152654,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152655,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152656,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152657,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152658,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly

In [98]:
data

,0,1,2,3,4,5,6,7,8,9
0,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
1,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
2,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
3,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
4,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
...,...,...,...,...,...,...,...,...,...,...
4152654,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152655,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152656,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152657,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152658,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly

In [214]:
data_1

,0,1,2,3,4,5,6,7,8,9
0,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
1,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
2,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
3,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
4,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03-15.42.50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
...,...,...,...,...,...,...,...,...,...,...
4152654,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152655,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152656,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152657,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152658,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly

In [215]:
train_x = data_1.drop([9], axis = 1)

In [167]:
only_date=train_x[1]

In [224]:
train_x.drop([1], axis = 1, inplace = True)
train_x.drop([2], axis = 1, inplace = True)

In [265]:
train_x['Datetime'] = pd.to_numeric(pd.to_datetime(train_x['Datetime']))

In [277]:
train_x.tail()

,System No.,Datetime,Host,Class,Facility,Severity,Message
4152654,1118545530,2005-06-11 20:05:30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152655,1118545530,2005-06-11 20:05:30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152656,1118545530,2005-06-11 20:05:30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152657,1118545530,2005-06-11 20:05:30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152658,1118545530,2005-06-11 20:05:30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt

In [254]:
train_y = data_1[9]

In [239]:
# train_x['System No.'] = train_x['System No.'].astype(float)
train_x['System No.'] =data_1[0]

In [237]:
type(train_x['System No.'][1])

numpy.float64

In [221]:
columns = ['System No.', 'Datetime', 'Host', 'Class', 'Facility', 'Severity','Message']

In [231]:
train_x.columns = columns

In [220]:
type(train_x[3][1])

str

In [41]:
dates = []


for d in dates:
        date = datetime.strptime(d, '%Y-%m-%d-%H.%M.%S')
        print(type(date))
        print(date)

<class 'datetime.datetime'>
2005-06-03 15:42:50

In [42]:
dates = train_x[1]

In [262]:
# kaam ka code
# date_and_time = train_x[3].tolist()
converted_date_and_time = []
for b in le:
        a = datetime.strptime(b, '%Y-%m-%d-%H.%M.%S.%f')
        converted_date_and_time.append(a)

In [260]:
del a,b
# a

In [268]:
# final substi
train_x['Datetime'] = converted_date_and_time

In [229]:
print(converted_date_and_time[1:3])

[datetime.datetime(2005, 6, 3, 15, 42, 50, 527847), datetime.datetime(2005, 6, 3, 15, 42, 50, 675872)]

In [207]:
train_x.dtypes

0            object
1            object
2            object
3    datetime64[ns]
4            object
5            object
6            object
7            object
8            object
dtype: object

In [74]:
url = '2005-06-03-15.42.50.363779'

In [75]:
url = url[:-7]

In [76]:
print(url)

2005-06-03-15.42.50

In [201]:
le =train_x[3]

In [127]:
kata = []
for i in date_and_time:
    i = i[:-7]
    kata.append(i)

In [284]:
train_x

,System No.,Datetime,Host,Class,Facility,Severity,Message
0,1117838570,2005-06-03 15:42:50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
1,1117838570,2005-06-03 15:42:50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
2,1117838570,2005-06-03 15:42:50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
3,1117838570,2005-06-03 15:42:50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
4,1117838570,2005-06-03 15:42:50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected
...,...,...,...,...,...,...,...
4152654,1118545530,2005-06-11 20:05:30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152655,1118545530,2005-06-11 20:05:30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152656,1118545530,2005-06-11 20:05:30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152657,1118545530,2005-06-11 20:05:30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt
4152658,1118545530,2005-06-11 20:05:30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt

In [289]:
train_x['Severity'].value_counts()

INFO            3448646
FATAL            549247
ERROR            111876
WARNING           22211
SEVERE            18747
FAILURE            1652
Kill                276
single                2
microseconds          2
Name: Severity, dtype: int64

In [339]:
eh = pd.DataFrame(data_1[data_1[7]=='FATAL'])

In [340]:
eh

,0,1,2,3,4,5,6,7,8,9
4987,1117840660,2005.06.03,R26-M0-NC-I:J18-U11,2005-06-03-16.17.40.190183,R26-M0-NC-I:J18-U11,RAS,APP,FATAL,"ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory",normal
4988,1117840660,2005.06.03,R26-M0-NC-I:J18-U01,2005-06-03-16.17.40.232813,R26-M0-NC-I:J18-U01,RAS,APP,FATAL,"ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory",normal
4989,1117840660,2005.06.03,R26-M0-N8-I:J18-U11,2005-06-03-16.17.40.258467,R26-M0-N8-I:J18-U11,RAS,APP,FATAL,"ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory",normal
4990,1117840660,2005.06.03,R26-M0-N8-I:J18-U01,2005-06-03-16.17.40.284192,R26-M0-N8-I:J18-U01,RAS,APP,FATAL,"ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory",normal
4991,1117840660,2005.06.03,R26-M0-N4-I:J18-U11,2005-06-03-16.17.40.306656,R26-M0-N4-I:J18-U11,RAS,APP,FATAL,"ciod: Error loading /p/gb2/stella/RAPTOR/65641/raptor: invalid or missing program image, No such file or directory",normal
...,...,...,...,...,...,...,...,...,...,...
4152654,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.386651,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152655,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.558220,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152656,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.675784,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152657,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.777307,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly
4152658,1118545530,2005.06.11,R30-M0-N9-C:J16-U01,2005-06-11-20.05.30.937080,R30-M0-N9-C:J16-U01,RAS,KERNEL,FATAL,data TLB error interrupt,anomaly

In [342]:
eh[9].value_counts()

normal     479555
anomaly     69692
Name: 9, dtype: int64

In [202]:
le = le.tolist()

In [48]:
le

In [ ]:
test

In [279]:
a

datetime.datetime(2005, 6, 11, 20, 5, 30, 937080)

In [ ]:
# new shit

In [49]:
df_1 = pd.read_csv(r"C:\Users\risha\Desktop\convolve-epoch1\BGL.log\xaa.txt", sep = '\s\s+', engine = 'python', header  = None)

In [57]:
df_1

,Log,Class
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected,normal
...,...,...
99995,1117989506 2005.06.05 R30-M0-N1-C:J15-U11 2005-06-05-09.38.26.803400 R30-M0-N1-C:J15-U11 RAS KERNEL INFO generating core.1848,normal
99996,1117989506 2005.06.05 R30-M0-N1-C:J11-U11 2005-06-05-09.38.26.825439 R30-M0-N1-C:J11-U11 RAS KERNEL INFO generating core.1849,normal
99997,1117989506 2005.06.05 R30-M0-N1-C:J13-U11 2005-06-05-09.38.26.847500 R30-M0-N1-C:J13-U11 RAS KERNEL INFO generating core.1593,normal
99998,1117989506 2005.06.05 R30-M0-N1-C:J17-U11 2005-06-05-09.38.26.869457 R30-M0-N1-C:J17-U11 RAS KERNEL INFO generating core.1592,normal
99999,1117989506 2005.06.05 R30-M0-N1-C:J05-U01 2005-06-05-09.38.26.892021 R30-M0-N1-C:J05-U01 RAS KERNEL INFO generating core.1587,normal

In [7]:
# df_1.rename(columns = {'0' : 'Log'}, inplace = True)

In [52]:
# In the first column of the log, "-" indicates non-alert messages while others are alert messages.
# def count_anomaly():
total_size = 0
normal_size = 0
i = 0
with open(r"C:\Users\risha\Desktop\convolve-epoch1\BGL.log\xaa.txt", encoding="utf8") as f:
    for line in f:
        total_size += 1
        if line.split(' ',1)[0] == '-':
            normal_size += 1
            df_1['Class'] = 'normal'
        else: 
            df_1['Class'] = 'anomaly'
print("total size {}, abnormal size {}".format(total_size, total_size - normal_size))

total size 100000, abnormal size 2609

In [55]:
df_1.columns = ['Log', 'Class']

In [56]:
df_1['Log'] = df_1['Log'].map(lambda x: x.lstrip('-'))

In [58]:
l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
l6=[]
l7=[]
l8=[]
l9=[]
l10=[]
for i in range(100000):
    l1.append(df_1.Log[i].split(' ')[1])
    l2.append(df_1.Log[i].split(' ')[2])
    l3.append(df_1.Log[i].split(' ')[3])
    l4.append(df_1.Log[i].split(' ')[4])
    l5.append(df_1.Log[i].split(' ')[5])
    l6.append(df_1.Log[i].split(' ')[6])
    l7.append(df_1.Log[i].split(' ')[7])
    l8.append(df_1.Log[i].split(' ')[8])
    l9.append(' '.join(df_1.Log[i].split(' ')[9:]))
# l10.append(df['count'][i])

In [59]:
data_1 = pd.DataFrame(list(zip(l1,l2,l3,l4,l5,l6,l7,l8,l9)))

,0,1,2,3,4,5,6,7,8,9
0,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03 15:42:50.363779,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
1,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03 15:42:50.527847,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
2,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03 15:42:50.675872,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
3,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03 15:42:50.823719,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
4,1117838570,2005.06.03,R02-M1-N0-C:J12-U11,2005-06-03 15:42:50.982731,R02-M1-N0-C:J12-U11,RAS,KERNEL,INFO,instruction cache parity error corrected,normal
...,...,...,...,...,...,...,...,...,...,...
99995,1117989506,2005.06.05,R30-M0-N1-C:J15-U11,2005-06-05 09:38:26.803400,R30-M0-N1-C:J15-U11,RAS,KERNEL,INFO,generating core.1848,normal
99996,1117989506,2005.06.05,R30-M0-N1-C:J11-U11,2005-06-05 09:38:26.825439,R30-M0-N1-C:J11-U11,RAS,KERNEL,INFO,generating core.1849,normal
99997,1117989506,2005.06.05,R30-M0-N1-C:J13-U11,2005-06-05 09:38:26.847500,R30-M0-N1-C:J13-U11,RAS,KERNEL,INFO,generating core.1593,normal
99998,1117989506,2005.06.05,R30-M0-N1-C:J17-U11,2005-06-05 09:38:26.869457,R30-M0-N1-C:J17-U11,RAS,KERNEL,INFO,generating core.1592,normal
99999,1117989506,2005.06.05,R30-M0-N1-C:J05-U01,2005-06-05 09:38:26.892021,R30-M0-N1-C:J05-U01,RAS,KERNEL,INFO,generating core.1587,normal

In [73]:
data_1.dtypes

0            object
1            object
2            object
3    datetime64[ns]
4            object
5            object
6            object
7            object
8            object
dtype: object

In [76]:
data_1[9] = df_1['Class']

In [63]:
le = list(data_1[3])

In [64]:
converted_date_and_time = []
for b in le:
        a = datetime.strptime(b, '%Y-%m-%d-%H.%M.%S.%f')
        converted_date_and_time.append(a)

In [72]:
data_1[3] = converted_date_and_time